plus-icon {
  color: white;
}

.loading-box {
  background-color: orange;
}

.description-container {
  background-color: gray;
  border-color: gray;
  border-radius: 20px;
  border-width: 1px;
}

.description-entry {
  border-color: gray;
  border-radius: 20px;
  border-width: 1px;
  font-size: 20px;
  padding: 20px;
}

.description-result {
  background-color: transparent;
  color: orange;
  font-size: 20px;
  padding: 20px;
}

